# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

###########################
Make-config
config.h
src/doc/torcsdoc.conf

config.log
config.status
src/linux/torcs
src/tools/accc/accc
src/tools/nfs2ac/nfs2ac
src/tools/nfsperf/nfsperf
src/tools/package/specfiles/torcs-data-cars-Patwo-Design.spec
src/tools/package/specfiles/torcs-data-cars-extra.spec
src/tools/package/specfiles/torcs-data-cars-kcendra-gt.spec
src/tools/package/specfiles/torcs-data-cars-kcendra-roadsters.spec
src/tools/package/specfiles/torcs-data-cars-kcendra-sport.spec
src/tools/package/specfiles/torcs-data-tracks-base.spec
src/tools/package/specfiles/torcs-data.spec
src/tools/package/specfiles/torcs-robot-K1999.spec
src/tools/package/specfiles/torcs-robot-base.spec
src/tools/package/specfiles/torcs.spec
src/tools/texmapper/texmapper
src/tools/trackgen/trackgen
stamp-h1

.torcs.rc
export/
src/libs/client/.depend
src/libs/confscreens/.depend
src/libs/learning/.depend
src/libs/musicplayer/.depend
src/libs/raceengineclient/.depend
src/libs/racescreens/.depend
src/libs/robottools/.depend
src/libs/tgf/.depend
src/libs/tgfclient/.depend
src/libs/txml/.depend
src/libs/txml/gennmtab/gennmtab
src/linux/.depend
