# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

###########################
Make-config
config.h
src/doc/torcsdoc.conf

config.log
config.status
src/linux/torcs
src/tools/accc/accc
src/tools/nfs2ac/nfs2ac
src/tools/nfsperf/nfsperf
src/tools/package/specfiles/torcs-data-cars-Patwo-Design.spec
src/tools/package/specfiles/torcs-data-cars-extra.spec
src/tools/package/specfiles/torcs-data-cars-kcendra-gt.spec
src/tools/package/specfiles/torcs-data-cars-kcendra-roadsters.spec
src/tools/package/specfiles/torcs-data-cars-kcendra-sport.spec
src/tools/package/specfiles/torcs-data-tracks-base.spec
src/tools/package/specfiles/torcs-data.spec
src/tools/package/specfiles/torcs-robot-K1999.spec
src/tools/package/specfiles/torcs-robot-base.spec
src/tools/package/specfiles/torcs.spec
src/tools/texmapper/texmapper
src/tools/trackgen/trackgen
stamp-h1

.torcs.rc
export/
src/libs/client/.depend
src/libs/confscreens/.depend
src/libs/learning/.depend
src/libs/musicplayer/.depend
src/libs/raceengineclient/.depend
src/libs/racescreens/.depend
src/libs/robottools/.depend
src/libs/tgf/.depend
src/libs/tgfclient/.depend
src/libs/txml/.depend
src/libs/txml/gennmtab/gennmtab
src/linux/.depend

src/drivers/berniw/.depend
src/drivers/berniw2/.depend
src/drivers/berniw3/.depend
src/drivers/bt/.depend
src/drivers/damned/.depend
src/drivers/human/.depend
src/drivers/inferno/.depend
src/drivers/inferno2/.depend
src/drivers/lliaw/.depend
src/drivers/olethros/.depend
src/drivers/scr_server/.depend
src/drivers/sparkle/.depend
src/drivers/tita/.depend
src/linux/torcs-bin
src/modules/graphic/ssggraph/.depend
src/modules/simu/simuv2/.depend
src/modules/simu/simuv2/SOLID-2.0/src/.depend
src/modules/telemetry/.depend
src/modules/track/.depend
src/tools/accc/.depend
src/tools/accc/accc-bin
src/tools/nfs2ac/.depend
src/tools/nfs2ac/nfs2ac-bin
src/tools/nfsperf/.depend
src/tools/nfsperf/nfsperf-bin
src/tools/texmapper/.depend
src/tools/texmapper/texmapper-bin
src/tools/trackgen/.depend
src/tools/trackgen/trackgen-bin

src/linux/torcs
src/tools/accc/accc
src/tools/nfs2ac/nfs2ac
src/tools/nfsperf/nfsperf
src/tools/texmapper/texmapper
src/tools/trackgen/trackgen

setup_linux.sh